<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OSMApp"
        tools:targetApi="31">
        <activity
            android:name=".perfil"
            android:exported="false"
            android:label="@string/title_activity_perfil"
            android:theme="@style/Theme.OSMApp" />
        <activity
            android:name=".registrar"
            android:exported="false"
            android:label="@string/title_activity_registrar"
            android:theme="@style/Theme.OSMApp" />
        <activity
            android:name=".iniciarsesion"
            android:exported="false"
            android:label="@string/title_activity_iniciarsesion"
            android:theme="@style/Theme.OSMApp" />
        <activity
            android:name=".contacto"
            android:exported="false"
            android:label="@string/title_activity_contacto"
            android:theme="@style/Theme.OSMApp" />
        <activity
            android:name=".favoritos"
            android:exported="false"
            android:label="@string/title_activity_favoritos"
            android:theme="@style/Theme.OSMApp" />
        <activity
            android:name=".galeria"
            android:exported="false"
            android:label="@string/title_activity_galeria"
            android:theme="@style/Theme.OSMApp" />
        <activity
            android:name=".inicio"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.OSMApp" />
        <activity
            android:name=".iniciar_sesion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OSMApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>